.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
  padding: 23px 110px 23px 100px;
  border-top: 1px solid rgba(72, 72, 72, 0.2);

  a:nth-of-type(2) {
    @include firaSans15;
    font-size: 12px;
    opacity: 0.5;
    text-decoration: none;
  }
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  width: 105px;
  height: 25px;

  a {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url("../img/sm.png");

    &:nth-of-type(1) {
      background-position: 0;
    }

    &:nth-of-type(2) {
      background-position: 65px;
    }

    &:nth-of-type(3) {
      background-position: 24px;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 33px 0;
  }
}
