.header {
    min-height: 906px;
    background-image: url(../img/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;

    .header__row {
        display: flex;
        justify-content: space-between;
        max-width: 1142px;
        margin: 32px auto 79px;


        .header__row-tel,
        .header__row-toform {
            text-decoration: none;
            @include firaSans15;
            font-weight: 500;

            &:hover {
                color: #1FC0FC;
                border-color: #1FC0FC;
                cursor: pointer;
            }
        }

        .header__row-toform {
            border-bottom: 1px dashed #484848;
            height: 20px;
        }
    }

    .header__main {
        width: 100%;
        background-image: url(../img/israel.png);
        @include baground-img(1018px 340px, no-repeat, 174px 25px);
        min-height: 609px;
        opacity: 10;
        padding-top: 18px;
        box-sizing: border-box;

        .header__main-content {
            width: 480px;
            min-height: 609px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            margin: 0 auto;
            padding: 0 0 50px;
            box-sizing: border-box;
            opacity: 100;
            background-image: url(../img/girl.png);
            background-repeat: no-repeat;
            background-position: center;

            h2 {
                @include txt('firaSans', 24px, 29px, 800, normal, $color-white);
                text-align: center;
                margin: 0 auto 32px;
            }

            .header__main-content-icon {
                display: block;
                padding: 8px 14px 7px;
                border: 1px solid #fff;
                border-radius: 50%;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    width: 76px;
                    height: 76px;
                    border: 1px dashed #fff;
                    border-radius: 50%;
                    position: absolute;
                    top: -16.5px;
                    right: -16.5px;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 50px;
                    background-color: #fff;
                    position: absolute;
                    top: 60px;
                    right: 22px;
                }
            }
        }
    }
}
