body {
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  max-width: 100%;
  height: 66vw;
  padding: 32px 50px;
  box-sizing: border-box;
  background-image: url("../img/girl.png"), url("../img/israel.png"), url("../img/bg.jpg");
  background-size: 100% auto, 74.5% auto, 100% auto;
  background-position: center, center 155px, top;
  background-repeat: no-repeat;

  .header__row {
    display: flex;
    justify-content: space-between;
    max-width: 1142px;
    margin: 0 auto 79px;


    .header__row-tel,
    .header__row-toform {
      text-decoration: none;

      @include firaSans15;
      font-weight: 500;

      &:hover {
        color: #1fc0fc;
        border-color: #1fc0fc;
        cursor: pointer;
      }
    }

    .header__row-toform {
      border-bottom: 1px dashed #484848;
      height: 20px;
    }
  }

  .header__main-content {
    width: 480px;
    min-height: 44.6vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    padding: 0 0 80px;
    box-sizing: border-box;
    opacity: 100;
    background-repeat: no-repeat;
    background-position: center;

    h2 {
      @include txt("firaSans", 24px, 29px, 800, normal, $color-white);
      text-align: center;
      margin: 0 auto 32px;
    }

    .header__main-content-icon {
      display: block;
      padding: 8px 14px 7px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      position: relative;

      &:hover {
        opacity: 0.7;
      }

      &::before {
        content: "";
        display: block;
        width: 76px;
        height: 76px;
        border: 1px dashed #ffffff;
        border-radius: 50%;
        position: absolute;
        top: -16.5px;
        right: -16.5px;
      }

      &::after {
        content: "";
        display: block;
        width: 0.5px;
        height: 70px;
        background-color: #ffffff;
        position: absolute;
        top: 60px;
        right: 22px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .header {
    background-size: 1024px auto, 760px auto, 1024px auto;
    background-position: bottom, center 105px, bottom;
    min-height: 680px;

    .header__main-content {
      min-height: 470px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    min-height: 690px;
    padding: 22px 15px;
    background-size: 950px auto, 108% auto, 1024px auto;
    background-position: center bottom, center 155px, bottom;

    @media (max-width: 567px) {
      background-position: center bottom, center 195px, bottom;

      .header__main-content {
        width: 300px;

        h2 {
          font-size: 20px;
        }
      }
    }

    .header__row {
      flex-direction: column;

      .header__row-tel,
      .header__row-toform {
        align-self: flex-end;
        justify-content: center;
      }

      .header__row-toform {
        margin-top: -20px;
      }

      .header__row-logo {
        margin-top: -20px;
      }
    }
  }
}
