.about-program {
  background-image: url("../img/watercolor_bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  max-width: 100%;
  min-height: 725px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 55px;
  box-sizing: border-box;

  h2 {
    margin: 0;

    @include title;
  }

  p {
    margin: 0 0 25px;

    @include firaSans17;
    max-width: 690px;
    text-align: center;
  }
}

.about-program__video-block {
  position: relative;
  width: 870px;
  height: 460px;
  background-image: url("../img/videoposter.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1000;

  button {
    display: block;
    position: absolute;
    top: 38.5%;
    left: 44.5%;
    z-index: 10;
    width: 96px;
    height: 96px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &:focus {
      outline: none;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 37px;
      left: 43px;
      border: 10px solid transparent;
      border-left: 15px solid #1fc0fc;
    }

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 16px;
      width: 64px;
      height: 64px;
      border: none;
      border-radius: 50%;
      background-color: #ffffff;
    }
  }
}

@media (max-width: 1024px) {
  .about-program {
    min-height: 600px;

    @media (max-width: 900px) {
      padding-bottom: 20px;
      min-height: 500px;
    }

    h2 {
      font-size: 32px;
      margin-bottom: 10px;

      @media (max-width: 900px) {
        font-size: 32px;
      }
    }

    p {
      font-size: 16px;

      @media (max-width: 900px) {
        font-size: 14px;
      }
    }

    padding-left: 50px;
  }

  .about-program__video-block {
    max-width: 95%;
  }
}

@media (max-width: 767px) {
  .about-program {
    min-height: 500px;
    padding: 0;
    background-position: center 0;

    h2 {
      margin-bottom: 17px;
    }

    p {
      max-width: 90%;
      text-align: left;
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 0;
    }
  }

  .about-program__video-block {
    max-width: 100%;
    height: 320px;
    background-size: 140%;


    button {
      left: 37%;
      top: 40%;
      width: 80px;
      height: 80px;

      &::after {
        top: 34px;
        left: 37px;
        border: 7px solid transparent;
        border-left: 12px solid #1fc0fc;
      }

      &::before {
        top: 14px;
        left: 14px;
        width: 53.3px;
        height: 53.3px;
      }
    }
  }
}

.programs {
  max-width: 100%;
  padding: 145px 22% 10px 15%;
  box-sizing: border-box;
  margin: 0 auto;
  background-image: url("../img/sketch_bg.jpg");
  background-repeat: no-repeat;
  background-size: 680px 426px;
  background-position: right 50px;

  h2 {
    margin: 0 0 65px 3px;

    @include title;
  }

  .programs__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.programs__buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: 360px;
  padding-right: 50px;
}

.programs__buttons-wrapper-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 68px;
  padding: 16px 20px 17px 20px;
  border: none;
  background-color: transparent;

  @include firaSans15;
  opacity: 0.87;

  &:hover {
    position: relative;
    width: 200px;
    height: 68px;
    background-image: linear-gradient(138.15deg, #ffc341 20.46%, #ffd701 65.31%);
    cursor: pointer;
  }

  &:hover svg {
    fill: #ffffff;
  }

  &:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -62px;
    border: 34px solid transparent;
    border-left: 28px solid #ffd701;
  }

  &:focus {
    position: relative;
    width: 200px;
    height: 68px;
    outline: none;
    border: none;
    background-image: linear-gradient(138.15deg, #ffc341 20.46%, #ffd701 65.31%);
    //transform: matrix(1, 0, 0, -1, 0, 0);
    font-size: 16px;
    line-height: 19px;
    font-variant: small-caps;
    color: $color-white;

    &:focus::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -62px;
      border: 34px solid transparent;
      border-left: 28px solid #ffd701;
    }
  }

  svg {
    margin-right: 15px;
  }
}

.programs .active {
  position: relative;
  width: 200px;
  height: 68px;
  outline: none;
  border: none;
  background-image: linear-gradient(138.15deg, #ffc341 20.46%, #ffd701 65.31%);
  //transform: matrix(1, 0, 0, -1, 0, 0);
  font-size: 16px;
  line-height: 19px;
  font-variant: small-caps;
  color: $color-white;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -62px;
    border: 34px solid transparent;
    border-left: 28px solid #ffd701;
  }
}

.programs__content-txt-blocks-block {
  max-width: 560px;

  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4),
  &:nth-of-type(5) {
    display: none;
  }

  h3 {
    margin: 17px 0 25px;

    @include title;
    font-size: 28px;
    line-height: 34px;
    text-transform: none;
  }

  p {
    @include firaSans15;
    font-weight: 500;
    line-height: 170%;
    opacity: 0.87;
    width: 560px;
    letter-spacing: 0.1px;
  }
}

@media (max-width: 1024px) {
  .programs {
    padding: 80px 7% 20px 8%;

    h2 {
      font-size: 32px;
    }
  }

  .programs__content-txt-blocks-block {
    p {
      width: 450px;

      @media (max-width: 850px) {
        width: 400px;
      }
    }
  }
}

@media (max-width: 767px) {
  .programs {
    padding: 30px 17px 22px 0;
    background-size: 310px auto;
    background-position: 28px 152px;

    h2 {
      text-align: center;
      margin: 0 0 10px 17px;
    }

    .programs__content {
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
  }

  .programs__buttons-wrapper {
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-right: 5px;
    overflow-x: auto;

    .programs__buttons-wrapper-btn {
      justify-content: center;
      align-items: center;
      width: 181px;
      height: 48px;
      padding: 8px 12px;
      margin: 0 5px 5px 0;
      border-radius: 60.6704px;
      text-transform: lowercase;
      font-size: 16px;

      svg {
        width: 32px;
      }

      &:hover {
        width: 181px;
        height: 48px;
      }

      &:hover::after {
        content: none;
      }

      &:focus::after {
        content: none;
      }
    }
  }

  .programs .active {
    &::after {
      display: none;
    }
  }

  .programs .programs__content-txt-blocks-block {
    width: 94%;
    margin-left: 17px;

    h3 {
      font-size: 24px;
      margin: 18px 0 0;
    }

    p {
      width: 100%;
      line-height: 22px;
      letter-spacing: -0.7px;
      margin: 14px 0 19px;
    }
  }
}

.wanttogo {
  max-width: 100%;
  min-height: 590px;
  padding: 210px 0 160px 15%;
  box-sizing: border-box;
  background: url("../img/backpack.png"), url("../img/girlflagbg.jpg");
  background-size: 167px 226px, 818px 594px;
  background-repeat: no-repeat, no-repeat;
  background-position: left, right top;
}

.wanttogo__content {
  max-width: 477px;

  h2 {
    margin: 0 0 25px 0;

    @include title;
  }

  span {
    display: block;
    max-width: 400px;
    margin-bottom: 60px;

    @include firaSans17;
    opacity: 0.87;
  }

  form {
    position: relative;
  }

  input[type="tel"] {
    width: 469px;
    height: 59px;
    padding: 0 0 0 40px;
    box-sizing: border-box;
    border: 2px solid #e3e3e3;
    border-radius: 80px;

    @include firaSans17;
    font-variant: small-caps;
    opacity: 1;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: 0.5;
    }
  }

  input[type="submit"] {
    @include btn;
    position: absolute;
    top: 0;
    right: 6px;
    width: 216px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 1270px) {
  .wanttogo {
    max-width: 100%;
    padding: 130px 0 160px 14%;
  }

  .wanttogo__content {
    span {
      font-size: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .wanttogo {
    padding: 90px 0 160px 8%;
    background-size: 150px auto, 80% auto;
    background-repeat: no-repeat;
    background-position: left top, right;
  }

  .wanttogo__content {
    h2 {
      font-size: 32px;
    }

    input[type="tel"] {
      width: 369px;
      height: 52px;

      @include firaSans15;
    }

    input[type="submit"] {
      right: 108px;
      height: 56px;
      width: 196px;
    }
  }
}

@media (max-width: 767px) {
  .wanttogo {
    min-height: 600px;
    padding: 35px 17px 400px 17px;
    background-size: 105px auto, 130% auto;
    background-position: left top, center 340px;
  }

  .wanttogo__content {
    h2 {
      text-align: center;
      margin-bottom: 17px;
      letter-spacing: 0.5px;
    }

    span {
      font-size: 16px;
      width: 286px;
      margin: 0 auto 20px;
    }

    form {
      width: 287px;
      margin: 0 auto;
    }

    input[type="tel"] {
      width: 287px;
      height: 59px;
    }

    input[type="submit"] {
      width: 264px;
      top: 70px;
      left: 8px;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.howtogo {
  max-width: 100%;
  min-height: 1200px;
  padding: 10% 0 50px 51.2%;
  box-sizing: border-box;
  background-image: url("../img/img-howtogo.png"), url("../img/stamp.png"), url("../img/watercolor_bg2.jpg");
  background-size: 42.5% auto, 16% auto, 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 135px, right 340px, left -30px;

  .howtogo__content {
    max-width: 540px;

    h2 {
      @include title;
      margin-bottom: 22px;
      letter-spacing: 0.8px;
    }

    p {
      max-width: 480px;

      @include firaSans15;
      line-height: 170%;
      opacity: 0.87;
      margin: 0 0 35px;
    }

    h3 {
      @include firaSans17;
    }

    ol li {
      height: 50px;
      margin: 30px 0 0 0;
      position: relative;

      @include firaSans15;
      line-height: 140%;
      opacity: 0.87;
      list-style-type: none;
    }

    ol li::before {
      position: absolute;
      top: -5px;
      left: -60px;

      @include markerforli;
    }

    ol li:nth-of-type(1)::before {
      content: "1";
    }

    ol li:nth-of-type(2)::before {
      content: "2";
    }

    ol li:nth-of-type(3)::before {
      content: "3";
    }

    ol li:nth-of-type(4)::before {
      content: "4";
    }

    ol li::after {
      content: "";
      position: absolute;
      left: -42px;
      top: 32px;
      display: block;
      height: 43px;
      border-left: 1px dashed #484848;
      opacity: 0.2;
    }

    ol li:nth-of-type(4)::after {
      display: none;
    }

    span {
      display: block;
      padding-left: 20px;
      margin: 30px 0 0;

      @include firaSans15;
      line-height: 140%;
      color: rgba(72, 72, 72, 0.5);
      border-left: 4px solid #ffc341;
    }
  }
}

@media (max-width: 1280px) {
  .howtogo {
    padding: 14% 0 50px 45%;

    .howtogo__content {
      h2 {
        margin: 0;
      }

      ol li {
        margin-top: 20px;
      }

      ol li::after {
        height: 33px;
      }

      span {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .howtogo {
    min-height: 1050px;
    padding: 10% 0 50px 45%;

    .howtogo__content {
      h2 {
        font-size: 32px;
      }

      p {
        font-size: 14px;
        line-height: 140%;
        opacity: 0.87;
      }

      h3 {
        font-size: 16px;
        line-height: 140%;
      }

      span {
        font-size: 12px;
      }

      ol li {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 767px) {
  .howtogo {
    padding: 53px 5%;
    background-image: url("../img/stamp.png");
    background-position: right 330px;
    background-size: 225px 220px;

    .howtogo__content {
      h2 {
        text-align: center;
        margin: 0 0 20px;
      }

      p {
        line-height: 160%;
        margin-bottom: 20px;
      }

      h3 {
        font-weight: 500;
        line-height: 160%;
        margin-bottom: 35px;
      }

      span {
        width: 95%;
        margin-top: 38px;
        padding-left: 10px;
        font-size: 14px;
        line-height: 160%;
        margin-left: -5px;
      }

      ol li {
        margin: 35px 0 0;
        line-height: 150%;

        &::before {
          left: -48px;
          top: 0;
        }

        &::after {
          left: -30px;
          top: 35px;
          height: 50px;
        }
      }
    }
  }
}

.lifeinisrael {
  width: 100%;
  margin: -218px 0 0 0;
  padding: 20px 7.5% 100px 7.2%;
  box-sizing: border-box;
  background-image: url("../img/watercolor_bg.png"), url("../img/watch.png");
  background-size: 100%, 100px 150px;
  background-repeat: no-repeat;
  background-position: top, right 650px;

  h2 {
    margin: 0 0 25px 12px;
    text-align: center;

    @include title;
  }

  span {
    display: block;
    max-width: 720px;
    margin: 0 auto 0;
    text-align: center;

    @include firaSans17;
    opacity: 0.87;
  }
}

.lifeinisrael__gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -22px;

  picture img {
    max-width: 100%;
    height: auto;
  }
}

.lifeinisrael__gallery-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  max-width: 58%;

  picture {
    margin-top: 20px;
    width: 33%;
    height: auto;
  }

  picture:nth-of-type(2),
  picture:nth-of-type(3) {
    width: 63%;
  }
}

.pagination {
  display: none;
  width: 58px;
  margin: 20px auto;
  justify-content: space-between;

  a {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #484848;
    opacity: 0.2;
  }

  a:hover {
    width: 8px;
    height: 8px;
    opacity: 0.5;
  }

  .circle-active {
    width: 8px;
    height: 8px;
    background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
    opacity: 1;
  }
}

@media (max-width: 1300px) {
  .lifeinisrael {
    margin-top: -310px;
    background-position: top, right 550px;
  }
}

@media (max-width: 1023px) {
  .lifeinisrael {
    background-position: top, right 450px;

    h2 {
      font-size: 32px;
    }

    span {
      font-size: 15px;
    }
  }
}

@media (max-width: 767px) {
  .lifeinisrael {
    margin-top: -193px;
    padding: 20px 9% 82px 5%;
    background: none;

    h2 {
      line-height: 120%;
    }

    span {
      text-align: left;
      letter-spacing: 0.7px;
      line-height: 175%;
      margin-bottom: 45px;
    }
  }

  .lifeinisrael__gallery {
    display: block;

    picture img {
      display: block;
      width: 100vw;
      height: auto;
      margin: 0 auto;
    }

    .lifeinisrael__gallery-wrap {
      picture img {
        width: 100vw;
        height: auto;
        margin: 0 auto;
        display: none;
      }
    }
  }

  .pagination {
    display: flex;
    margin: -40px auto 0;
  }
}

.masaisrael {
  padding: 13% 0 25.6% 58.3%;
  box-sizing: border-box;
  background-image: url("../img/cynthia-magana-138943-unsplash.jpg");

  @include baground-img(100%, no-repeat, center 50px);

  h2 {
    margin: 0 0 26px;

    @include title;
    letter-spacing: -0.5px;
  }

  p {
    max-width: 400px;
    margin: 0 0 48px 2px;

    @include firaSans17;
    color: $color-white;
    opacity: 0.87;
  }

  button {
    @include btn;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    padding: 0 43px;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 1023px) {
  .masaisrael {
    padding: 13% 20px 18% 53%;

    h2 {
      font-size: 32px;

      @media (max-width: 850px) {
        margin-bottom: 10px;
      }
    }

    p {
      margin: 0 0 20px 0;
    }
  }
}

@media (max-width: 767px) {
  .masaisrael {
    background-position: -58px 46px;
    background-size: 185% auto;
    padding: 0 0 20vw 11px;

    h2 {
      width: 310px;
      font-size: 40px;
      letter-spacing: -0.2px;
      margin: 0 auto 29vw auto;
    }

    p {
      width: 95%;
      margin: 0 auto 55px;
      line-height: 160%;
    }

    button {
      width: 264px;
      margin: 0 auto;
      padding: 0 58px;
    }
  }
}

.FAQ {
  min-height: 880px;
  padding: 0 0 0 7.5%;
  box-sizing: border-box;
  background-image: url("../img/bag.png"), url("../img/faq.png"), url("../img/watercolor_bg4.jpg");
  background-size: 167px 177px, 47.2% auto, 100%;
  background-repeat: no-repeat;
  background-position: left 720px, right 0, top;

  h2 {
    margin: -12px 0 4px;

    @include title;
    letter-spacing: 1px;
  }
}

details {
  position: relative;
  width: 550px;
  padding: 42px 0 27px 30px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(72, 72, 72, 0.2);

  summary {
    width: 520px;
    padding-right: 150px;
    box-sizing: border-box;
    list-style: none;
    cursor: pointer;

    @include firaSans17;
    line-height: 150%;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 44px;
      right: 30px;
      width: 10px;
      height: 10px;
      border: 2px solid #1fc0fc;
      border-color: #1fc0fc #1fc0fc transparent transparent;
      transform: rotate(135deg);
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary:focus {
    outline: none;
  }

  p {
    width: 480px;
    margin: 25px 0 3px -30px;

    @include firaSans15;
    line-height: 140%;
    opacity: 0.74;
  }

  &::before {
    @include markerfordetails;
  }

  &:nth-of-type(1)::before {
    content: "1";
  }

  &:nth-of-type(2)::before {
    content: "2";
  }

  &:nth-of-type(3)::before {
    content: "3";
  }

  &:nth-of-type(4)::before {
    content: "4";
  }

  &:nth-of-type(5)::before {
    content: "5";
  }

  &:nth-of-type(6)::before {
    content: "6";
  }
}

details[open] summary::after {
  transform: rotate(-45deg);
  top: 55px;
}

@media (max-width: 1300px) {
  details {
    width: 500px;
    padding: 20px 0 20px 30px;

    &::before {
      top: 9px;
    }

    summary {
      &::after {
        top: 20px;
      }
    }
  }

  details[open] summary::after {
    transform: rotate(-45deg);
    top: 26px;
  }
}

@media (max-width: 1150px) {
  .FAQ {
    details {
      width: 450px;
      padding: 15px 0 15px 30px;

      &::before {
        top: 5px;
      }

      p {
        width: 430px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .FAQ {
    min-height: 750px;
    padding: 50px 0 0 15%;
    background-image: url("../img/bag.png"), url("../img/watercolor_bg4.jpg");
    background-size: 167px 177px, 100%;
    background-position: left 475px, top;

    h2 {
      font-size: 32px;
    }

    /*details {
            summary {
                width: 400px;
                font-size: 16px;
            }
            p {
            font-size: 14px;
                width: 345px;
                margin: 5px 0 0 -30px;


        } */
  }
}

@media (max-width: 767px) {
  .FAQ {
    background-image: url("../img/bag.png");
    background-size: 145px 177px;
    background-position: left 655px;
    padding: 0 0 0 8px;

    h2 {
      text-align: center;
      margin: 13px 0 0;
      line-height: 130%;
    }
  }

  .FAQ details {
    max-width: 95%;
    padding: 34px 0 22px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 160%;

    &::before {
      top: 20px;
    }

    summary {
      width: 85%;
      padding: 0;
      font-size: 16px;
      line-height: 160%;

      &::after {
        right: 8px;
        top: 38px;
      }
    }
  }

  details[open] p {
    width: 300px;
    margin-left: -20px;
  }

  details[open] summary::after {
    top: 50px;
  }
}

.reviews {
  padding: 50px 6.8% 75px 6.8%;
  box-sizing: border-box;
  background-image: url("../img/sketch-review.png"), url("../img/watercolor_bg5.jpg");
  background-size: 535px 318px, 100%;
  background-repeat: no-repeat;
  background-position: right center, right bottom;

  h2 {
    @include title;
    margin: 0 0 8px;
    text-align: center;
  }
}

.reviews__slider {
  margin: 0;

  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4),
  &:nth-of-type(5),
  &:nth-of-type(6) {
    display: none;
  }

  picture {
    float: left;
    margin-right: 37px;
  }

  .reviews__slider-pagination {
    @include reviews-pagination;
    margin: 0 auto;
    display: none;
  }
}

.reviews__slider-figcaption {
  display: flex;
  flex-direction: column;
  padding-top: 18px;

  h3 {
    margin-bottom: 0;

    @include txt(firaSans, 24px, 150%, 400, $color-txt);
    opacity: 0.74;
  }

  h4 {
    margin: 7px 0 14px;

    @include firaSans15;
    line-height: 140%;
    opacity: 0.74;

    span {
      color: #1fc0fc;
    }
  }

  p {
    max-width: 680px;

    @include firaSans17;
    opacity: 0.74;
    margin-bottom: 8px;
  }

  .reviews__slider-figcaption-link {
    @include firaSans17;
    position: relative;
    color: #1fc0fc;
    text-decoration: none;

    &::after {
      content: "";
      width: 146px;
      position: absolute;
      top: 22px;
      left: 0;
      border-bottom: 1px solid #1fc0fc;
    }
  }
}

.reviews__slider-figcaption-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 680px;
  margin: 55px 0 0 0;

  .reviews__slider-figcaption-row-pagination {
    @include reviews-pagination;
  }
}

.reviews__slider-figcaption-row-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;

  a {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url("../img/sm.png");

    &:nth-of-type(1) {
      background-position: 0;
    }

    &:nth-of-type(2) {
      background-position: 65px;
    }

    &:nth-of-type(3) {
      background-position: 22px;
    }
  }
}

@media (max-width: 1200px) {
  .reviews {
    padding: 0 14% 100px 7.5%;

    h2 {
      margin-bottom: 50px;
    }
  }

  .reviews__slider {
    img {
      margin-top: 20px;
    }

    .reviews__slider-figcaption {
      padding-top: 0;
    }

    p {
      @media (max-width: 1100px) {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .reviews {
    padding: 0 3% 100px 2%;
  }

  .reviews__slider-figcaption {
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 767px) {
  .reviews {
    background-position: left 700px, right 800px;
    padding: 70px 0 0;

    h2 {
      font-size: 32px;
      margin: 0 0 17px;
    }
  }

  .reviews__slider {
    padding: 0 6%;

    img {
      width: 100%;
      height: auto;
      margin: 0 0 0 18px;
    }

    .reviews__slider-pagination {
      display: flex;
    }

    .reviews__slider-figcaption {
      clear: both;

      h4 {
        margin: 10px 0 25px;
        display: flex;
        flex-direction: column;
      }

      p {
        line-height: 160%;
        margin-bottom: 20px;
      }
    }

    .reviews__slider-figcaption-link {
      margin: 5px 0 0;
      font-size: 16px;
      letter-spacing: -0.1px;
    }

    .reviews__slider-figcaption-row {
      margin: 22px 0 0 -5px;
      width: 100px;
    }

    .reviews__slider-figcaption-row-pagination {
      display: none;
    }
  }
}

.details {
  padding: 0 7.9% 115px 7.5%;
  box-sizing: border-box;
  background-image: url("../img/map.png"), url("../img/watercolor_bg6.jpg");
  background-size: 51.4% auto, 100%;
  background-position: right 10px, top;
  background-repeat: no-repeat;

  h2 {
    @include title;
    margin: 32px 0 45px 0;
  }

  span {
    display: inline-block;
    vertical-align: middle;

    @include firaSans15;
    opacity: 0.74;
    margin: 0 0 0 3px;

    a {
      width: 95px;
      padding-bottom: 1px;
      border-bottom: 1.5px dashed #1fc0fc;
      font-weight: 500;
      font-variant: small-caps;
      margin: 0 10px 0 10px;
      color: $color-txt;
      text-decoration: none;
    }
  }

  p {
    width: 480px;

    @include firaSans17;
    opacity: 0.87;
    margin: 28px 0 132px 0;
  }
}

.details__curator {
  display: flex;
  justify-content: space-between;
  max-width: 380px;
  margin: 40px 0 0 0;
}

.details__curator-figcaptoin {
  width: 250px;
  margin: 0 0 0 25px;
}

.details__curator-figcaptoin-name {
  margin: 5px 0 13px;

  @include firaSans15;

  span {
    color: #1fc0fc;
    margin: 0 10px 3px 0;
  }
}

.details__curator-figcaptoin-address {
  @include firaSans15;
  font-size: 13px;
  opacity: 0.74;
}

.details__curator-figcaptoin-socials {
  display: flex;
  justify-content: space-between;
  width: 90px;

  a {
    display: block;
    width: 22px;
    height: 22px;
    margin-top: 15px;
    background-image: url("../img/sm2.svg");

    &:nth-of-type(1) {
      background-position: 0;
    }

    &:nth-of-type(2) {
      background-position: 59px;
    }

    &:nth-of-type(3) {
      background-position: 22px;
    }
  }
}

.details__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100px;

  p {
    width: 358px;
    font-weight: 500;
    line-height: 155%;
    margin: 0;

    span {
      opacity: 0.5;
      margin: 14px 0 0 0;
      letter-spacing: -1px;
    }
  }

  form input[type="text"],
  form input[type="tel"] {
    width: 250px;
    height: 59px;
    margin-right: 17px;
    padding: 0 0 0 40px;
    box-sizing: border-box;
    border-radius: 80px;
    border: 2px solid #e3e3e3;

    @include firaSans17;
    font-weight: 500;
    opacity: 0.5;

    &:focus {
      outline: none;
      border: 2px solid #ffd701;
      opacity: 0.87;
    }
  }

  form input[type="submit"] {
    @include btn;
    width: 216px;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

@media (max-width: 1360px) {
  .details {
    background-position: right 150px, top;

    p {
      width: 430px;

      @include firaSans15;
      line-height: 30px;
      opacity: 0.87;
      margin: 45px 0 130px 0;
    }
  }

  .details__form {
    p {
      width: 300px;
      margin: 0;

      span {
        font-size: 13px;
      }
    }

    form input[type="text"],
    form input[type="tel"] {
      width: 220px;
      height: 54px;

      @include firaSans15;
      margin-right: 10px;

      @media (max-width: 1150px) {
        width: 180px;
        height: 50px;
        font-size: 13px;
      }
    }

    form input[type="submit"] {
      @include btn;
      width: 180px;
      height: 54px;
      font-size: 15px;

      @media (max-width: 1150px) {
        width: 150px;
        height: 50px;
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .details {
    background-position: right 80px, top;

    @media (max-width: 860px) {
      .details__curator {
        margin: 25px 0 0 0;
        max-width: 370px;
      }
    }

    p {
      width: 430px;
      margin-bottom: 50px;
    }
  }

  .details__form {
    flex-wrap: wrap;
    justify-content: center;

    p {
      width: 550px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 767px) {
  .details {
    background-image: url("../img/map.png");
    background-size: 200%;
    background-position: -210px 720px;
    padding: 78px 15px 100px;

    h2 {
      font-size: 32px;
      text-align: center;
      line-height: 130%;
      margin: 0 0 18px;
    }

    .details__curator {
      flex-direction: column;
      margin: 40px 0 0 0;
    }

    .details__curator-figcaptoin {
      margin: 10px 0 0 0;
    }

    p {
      width: 85%;
      margin: 35px 0 140vw;
      line-height: 180%;
    }
  }

  .details__form {
    p {
      width: 100%;
      margin: 31px 0 0 0;
      letter-spacing: 0.6px;

      span {
        margin: 9px 0 0;
        line-height: 160%;
        letter-spacing: 0.1px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 210px;
      margin-top: 30px;

      input[type="text"],
      input[type="tel"] {
        width: 288px;
        height: 59px;

        @include firaSans17;
        margin: 0;
      }

      input[type="submit"] {
        width: 264px;
        height: 59px;
        font-size: 17px;
        margin-top: 5px;
      }
    }
  }
}
