@font-face {
	font-family: 'raleway';
	src: url(../fonts/raleway-400.woff2), url(../fonts/raleway-400.woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'raleway';
	src: url(../fonts/raleway-500.woff2), url(../fonts/raleway-500.woff);
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url(../fonts/montserrat-900.woff2), url(../fonts/montserrat-900.woff);
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'firaSans';
	src: url(../fonts/fira-sans-400.woff2), url(../fonts/fira-sans-400.woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'firaSans';
	src: url(../font/fira-sans-500.woff2), url(../fonts/fira-sans-500.woff);
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'firaSans';
	src: url(../fonts/fira-sans-800.woff2), url(../fonts/fira-sans-800.woff);
	font-weight: 800;
	font-style: normal;
}
