$color-txt: #484848;
$color-white: #fff;
$color-title: #1FC0FC;


@mixin baground-img($size, $repeat, $position) {
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
}

@mixin txt($family, $size, $height, $weight, $font-style, $color) {
    font-family: $family, sans-serif;
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    font-style: $font-style;
    color: $color;
}

@mixin firaSans15 {
    font-family: 'firaSans', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $color-txt;
}
@mixin firaSans17 {
    font-family: 'firaSans', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 170%;
    color: $color-txt;
}

@mixin title {
    font-family: 'Montserrat', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: $color-title;
}
@mixin markerforli {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    padding-top: 7px;
    box-sizing: border-box;
    text-align: center;
    color: #FFC341;
}